.shooting {
  animation-name: shooting;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: scale(0);
}

@keyframes shooting {
  0%,
  100% {
    transform: scale(1);
  }
  0% {
    transform: translate(0, -5vw);
  }
  10% {
    transform: translate(10vw, 5vw);
  }
  20% {
    transform: translate(20vw, -5vw);
  }
  30% {
    transform: translate(30vw, 5vw);
  }
  40% {
    transform: translate(40vw, -5vw);
  }
  50% {
    transform: translate(50vw, 5vw);
  }
  60% {
    transform: translate(60vw, -5vw);
  }
  70% {
    transform: translate(70vw, 5vw);
  }
  80% {
    transform: translate(80vw, -5vw);
  }
  90% {
    transform: translate(90vw, 5vw);
  }
  100% {
    transform: translate(100vw, -5vw);
  }
}

.paused {
  animation-play-state: paused;
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes zoom_out {
  100% {
    transform: scale(0%) rotate(360deg);
  }
}
.fade_in_out {
  animation-name: fade_in_out;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fade_in_out {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.timer {
  animation-name: timer;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: left center;
}

@keyframes timer {
  100% {
    transform: scale(0, 1);
  }
}

#game_over {
  scale: 0.7;
  translate: 0vw -2vw;
}

.show_check {
  animation-name: show_check;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes show_check {
  100% {
    translate: opacity(1);
  }
}

.screen_change {
  animation-name: screen_change;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes screen_change {
  0% {
    translate: scale(0);
  }
  50% {
    translate: scale(0.5);
  }
  100% {
    translate: scale(0.8);
  }
}
