.shooting {
  animation-name: shooting;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shooting {
  0% {
    transform: translate(0vw, -100%);
  }
  12% {
    transform: translate(12vw, -50%);
  }
  25% {
    transform: translate(24vw, -100%);
  }
  37% {
    transform: translate(36vw, -50%);
  }
  50% {
    transform: translate(48vw, -100%);
  }
  62% {
    transform: translate(60vw, -50%);
  }
  75% {
    transform: translate(72vw, -100%);
  }
  87% {
    transform: translate(84vw, -50%);
  }
  100% {
    transform: translate(100vw, -100%);
  }
}

.paused {
  animation-play-state: paused;
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes zoom_out {
  100% {
    transform: scale(0%) rotate(360deg);
  }
}
.fade_in_out {
  animation-name: fade_in_out;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fade_in_out {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.timer {
  animation-name: timer;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  transform-origin: left center;
}

@keyframes timer {
  100% {
    transform: scale(0, 1);
  }
}

#game_over {
  scale: 0.7;
  translate: 0vw -2vw;
}

.show_check {
  animation-name: show_check;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes show_check {
  100% {
    translate: opacity(1);
  }
}
