.shooting {
  animation-name: shooting;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shooting {
  0% {
    transform: translate(-6vw, 0%);
  }

  100% {
    transform: translate(100vw, 0%);
  }
}

.paused {
  animation-play-state: paused;
}
