.shooting {
  animation-name: shooting;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shooting {
  0% {
    transform: translate(0vw, 0vw);
  }

  33% {
    transform: translate(33vw, -10vw);
  }

  66% {
    transform: translate(66vw, 0vw);
  }

  100% {
    transform: translate(99vw, -10vw);
  }
}

.paused {
  animation-play-state: paused;
}

.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes zoom_out {
  100% {
    transform: scale(0%) rotate(360deg);
  }
}
.fade_in_out {
  animation-name: fade_in_out;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fade_in_out {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.timer {
  animation-name: timer;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes timer {
  100% {
    transform: translate(-41vw, 0vw);
  }
}
