#screen {
  aspect-ratio: 16/9;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
body {
  margin: 0;
  overflow: hidden;
}
#game {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#start {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_over {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#level_complete {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_background {
  grid-area: 1/1;
  background-image: url(images/basketball_court.png);
  background-size: cover;
}
#game_foreground {
  aspect-ratio: inherit;
  grid-area: 1/1;
  width: 100%;
  position: absolute;
}
#game_foreground img {
  width: 100%;
}
#got_blocked {
  width: 22vw;
  position: absolute;
  top: 25%;
  left: 50%;
}
#game_ui {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
}
#game_elements {
  grid-area: 1/1;
  position: relative;
  overflow: hidden;
}
.ball {
  position: absolute;
  width: 5vw;
}
.ball img {
  width: 100%;
}
#game_ui img {
  width: 100%;
}
#life_board {
  width: 15vw;
  grid-column: 3/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#score_board {
  width: 15vw;
  grid-column: 2/3;
}

#score_board img {
  translate: 0% -20%;
}

#volleyball_container {
  top: 40%;
  scale: 1.8;
}
#basketball_container {
  top: 70%;
  scale: 1.3;
}
#american_football_container {
  top: 60%;
}
#soccerball_container {
  top: 30%;
  scale: 2;
}
#frenzy_basketball_container {
  top: 50%;
}
#game_over {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  background-image: url(images/game_over.jpg);
  background-size: cover;
}

.hidden {
  display: none;
}
