#screen {
  aspect-ratio: 16/9;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
body {
  margin: 0;
  overflow: hidden;
}
#game {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#start {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_over {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#level_complete {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_background {
  grid-area: 1/1;
  background-image: url(images/basketball_court.png);
  background-size: cover;
}
#game_foreground {
  aspect-ratio: inherit;
  grid-area: 1/1;
  width: 100%;
  position: absolute;
}
#game_foreground img {
  width: 100%;
}
#got_blocked {
  width: 22vw;
  position: absolute;
  top: 25%;
  left: 50%;
}
#game_ui {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
}
#game_elements {
  grid-area: 1/1;
  position: relative;
  overflow: hidden;
}
.ball {
  position: absolute;
  width: 5vw;
}
.ball img {
  width: 100%;
}
#game_ui img {
  width: 100%;
}
#life_board {
  width: 15vw;
  grid-column: 3/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  pointer-events: none;
}

#volleyball_container {
  top: 40%;
  scale: 1.8;
}
#basketball_container {
  top: 70%;
  scale: 1;
}
#american_football_container {
  top: 60%;
  z-index: 1;
}
#soccerball_container {
  top: 30%;
  scale: 2;
}
#frenzy_basketball_container {
  top: 50%;
}
#game_over {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  background-image: url(images/game_over.jpg);
  background-size: cover;
}

.hidden {
  display: none;
}
#basketball2_container {
  top: 35%;
  scale: 1.3;
}
#basketball3_container {
  top: 55%;
  scale: 1.3;
}
#basketball4_container {
  top: 65%;
  scale: 1.3;
}
#basketball5_container {
  top: 75%;
  scale: 1.3;
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}
.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

#score_board {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bbscore img {
  scale: 25%;
  translate: -20vw -8vw;
}

#scoretext {
  color: antiquewhite;
  font-size: 4vw;
  translate: 6vw 0vw;
}

body {
  cursor: url("images/basketball_hoop.png") 25 0, auto;
}

#full {
  translate: 1vw -56.7vw;
}
#empty {
  translate: 0.5vw -20.5vw;
}

#green_sprite {
  position: absolute;
}

#red_sprite {
  position: absolute;
  scale: 0.7;
}
