#screen {
  aspect-ratio: 16/9;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
body {
  margin: 0;
  overflow: hidden;
}
#game {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#start {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_over_screen {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}

#level_complete {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_background {
  grid-area: 1/1;
  background-image: url(images/basketball_court.png);
  background-size: cover;
}
#game_foreground {
  aspect-ratio: inherit;
  grid-area: 1/1;
  width: 100%;
  position: absolute;
}
#game_foreground img {
  width: 100%;
}
#got_blocked {
  width: 22vw;
  position: absolute;
  top: 25%;
  left: 50%;
}
#game_ui {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 5fr 5fr 2fr;
}
#game_elements {
  grid-area: 1/1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#game_ui img {
  width: 100%;
}
#life_board {
  width: 15vw;
  grid-column: 3/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  pointer-events: none;
}

.hidden {
  display: none;
}

.hidden2 {
  scale: 0;
}

.broken_heart {
  filter: grayscale(75%) blur(0.5px);
}
.active_heart {
  filter: drop-shadow(0 0 2px yellow);
}

#score_board {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bbscore img {
  scale: 25%;
  translate: -18vw -8vw;
}

#scoretext {
  color: antiquewhite;
  font-size: 4vw;
  translate: 6vw 0vw;
}

body {
  cursor: url("images/basketball_hoop.png") 25 15, auto;
}

#full {
  translate: 1vw -56.7vw;
}
#empty {
  translate: 0.5vw -20.5vw;
}

#green_sprite {
  position: absolute;
}

#red_sprite {
  position: absolute;
  scale: 0.7;
}

#game_over_screen {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: red;
}
#game_over_screen p {
  grid-row: 2/3;
  font-size: 5vw;
  text-align: center;
}
#level_complete {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: aquamarine;
}
#level_complete p {
  grid-row: 1/3;
  font-size: 5vw;
  text-align: center;
}
#level_complete_img {
  background-image: url(images/fireworks.jpg);
  grid-row: 2/3;
}

#start {
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  background-color: blanchedalmond;
}

#startbutton {
  background-image: url(images/manybb.jpg);

  grid-row: 2/3;

  font-size: 10vw;

  text-align: center;
}

#startbutton p {
  font-weight: bolder;
}

#explanation {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: larger;
}

#instructions {
  margin-top: 3vw;
}

#instructions li {
  text-align: left;
  margin-inline: 25vw;
}

#instructions em {
  text-decoration: underline;
}

#header {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.position1 {
  top: 8vw;
}

.position2 {
  top: 16vw;
}

.position3 {
  top: 24vw;
}

.position4 {
  top: 32vw;
}

.position5 {
  top: 40vw;
}

.position6 {
  top: 48vw;
}

.position7 {
  top: 56vw;
}

#volleyball_container {
  width: 10vw;
  position: absolute;
  animation-delay: 0.1s;
}

#volleyball_container img {
  width: 100%;
}

#basketball_container {
  width: 10vw;
  position: absolute;
  animation-delay: 0.2s;
}

#basketball_container img {
  width: 100%;
}
#basketball2_container img {
  width: 100%;
}
#basketball3_container img {
  width: 100%;
}

#football_container {
  width: 10vw;
  position: absolute;
  animation-delay: 0.3s;
}

#football_container img {
  width: 100%;
}

#soccerball_container {
  width: 10vw;
  position: absolute;
}

#soccerball_container img {
  width: 100%;
}
#frenzy_basketball_container {
  width: 10vw;
  position: absolute;
  animation-delay: 0.4s;
}

#frenzy_basketball_container img {
  width: 100%;
}

#basketball2_container {
  width: 10vw;
  position: absolute;
  animation-delay: 0.1s;
}
#basketball3_container {
  width: 10vw;
  position: absolute;
  animation-delay: 0.3s;
}
