#screen {
  aspect-ratio: 16/9;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
body {
  margin: 0;
}
#game {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#start {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_over {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#level_complete {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_background {
  aspect-ratio: inherit;
  width: 100%;
  background-image: url(images/basketball_court.png);
  background-size: 100%;
  position: absolute;
}
#game_ui {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
}
#game_elements {
  aspect-ratio: inherit;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.ball {
  position: absolute;
  width: 8vw;
}
.ball img {
  width: 100%;
}
